<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jaejae.cafe_jaerim">

    <!--권한 부여 설정-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cafe_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cafe_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cafe_jaerim">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBqkNV2fe6Xz5Aj0E3vWvatq3JaqpnJvek"/>

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <activity android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".GoogleMapEdiya"/>
        <activity android:name=".SearchList"/>
        <activity android:name=".Ediya"/>
        <activity android:name=".Ediya_jbnu"/>
        <activity android:name=".In_out"/>
        <activity android:name=".Insole"/>
        <activity android:name=".Hollys"/>
        <activity android:name=".Little_bear"/>
        <activity android:name=".Myeongnyun"/>
        <activity android:name=".Paiks_coffee"/>
        <activity android:name=".StarBucks"/>
        <activity android:name=".Ralee"/>
        <activity android:name=".Roy"/>
        <activity android:name=".Ivy"/>
        <activity android:name=".Momo"/>
        <activity android:name=".StudyCafeList"/>

        <activity android:name=".GoogleMapEdiyaJbnu"/>
        <activity android:name=".GoogleMapHollys"/>
        <activity android:name=".GoogleMapInOut"/>
        <activity android:name=".GoogleMapInsole"/>
        <activity android:name=".GoogleMapIvy"/>
        <activity android:name=".GoogleMapLittleBear"/>
        <activity android:name=".GoogleMapMyeongnyun"/>
        <activity android:name=".GoogleMapPaiksCoffee"/>
        <activity android:name=".GoogleMapRalee"/>
        <activity android:name=".GoogleMapRoy"/>
        <activity android:name=".GoogleMapStarbucks"/>
        <activity android:name=".InstaCafeList"/>
        <activity android:name=".TakeOutCafeList"/>

        <activity android:name=".Activity_favList"/>


    </application>
</manifest>

